<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Teams</title>
  </head>

  <body>
    <h1>Teams</h1>
    <% @team_names.each do |name| %>

      <p><a href="/<%= name.downcase.gsub(/\s/, '_') %>"><%= name %></a></p>

    <% end %>



  </body>
</html>