<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simpson Slammers</title>
  </head>

  <body>
    <h1>Simpson Slammers</h1>
    <table>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Position</strong></td>
      </tr>
      <% @team.each do |player| %>
        <tr>
          <td><%= player[:first_name]+ " " + player[:last_name] %></td>
          <td><%= player[:position] %></td>
        </tr>
      <% end %>


    </table>


    <p><a href="/">Home</a></p>
  </body>
</html>